
@using Pharmacy.ViewModels
@model Pharmacy.ViewModels.PrescriptionCreateViewModel


<h2>Add a medicine</h2>
<hr />
<div class="thumbnail col-md-offset-3 col-md-6">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
                <label asp-for="@Model.prescription.CustomerName" class="control-label"></label>
                <input asp-for="@Model.prescription.CustomerName" class="form-control" />
                <span asp-validation-for="@Model.prescription.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.prescription.Pesel" class="control-label"></label>
                <input asp-for="@Model.prescription.Pesel" class="form-control" />
                <span asp-validation-for="@Model.prescription.Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.prescription.PrescriptionNumber" class="control-label"></label>
                <input asp-for="@Model.prescription.PrescriptionNumber" class="form-control" />
                <span asp-validation-for="@Model.prescription.PrescriptionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.MedicineWithPrescriptionId" type="hidden" class="control-label">Med</label>
                <select asp-for="@Model.prescription.MedicineId" asp-items="@Model.MedicinesWithPrescription"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Add medicine" class="btn btn-success mt-30 pull-right" />
                <a asp-action="Index" class="btn btn-danger mt-30">Back</a>
            </div>
    </form>
</div>